{% load static %}
{% load widget_tweaks %}
    {% block content %}
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
          <form action="" method="post" class="form-box">
            {% csrf_token %}
            <h3 class="h4 text-black mb-4">Sign Up</h3>
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="User Name">
            </div>
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" name="password1" class="form-control" placeholder="Password">
            </div>
            <div class="form-group mb-4">
              <input type="password" name="password2" class="form-control" placeholder="Re-type Password">
            </div>
            <div class="form-group">
              <input type="submit" name="signup" class="btn btn-primary btn-pill" value="Sign up">
            </div>
            </form>
        </div>

    {% endblock %}