{% load static %}
    <div class="site-section" id="programs">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Наші програми</h2>
            <p>Програми під усі курси розроблені за спеціальною технікою та затверджені нашими експертами.
            Домашніх завдань може бути багато, але усі наші випускники задоволені нашою програмою.</p>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/undraw_youtube_tutorial.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Ми чудові в навчанні</h2>
            <p class="mb-4">Всі викладачі мають високу степінь освіти та безліч корисних знань.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">22,931 Випускників на рік</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3 class="m-0">150 Навчальних закладів у світі</h3></div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/undraw_teaching.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Йдемо до ідеалу</h2>
            <p class="mb-4">Кожен наш випускник буде спроможний виконати майже будь яку задачу у своїй сфері.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">Близько 90% випускників знаходять роботу в перший місяць після закінчення навчання.</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3 class="m-0">Ми надаємо курси майже з усіх мов програмування, та постійно розширюємо цю сферу.</h3></div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/undraw_teacher.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Навчання - це життя</h2>
            <p class="mb-4">Ми звикли жити по плану: новий день - нові отримані навички.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
              <div><h3 class="m-0">Найголовнішим ми вважаємо, що навчання має бути таким цікавим, як розвага,
               так знання закладаються краще.</h3></div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-university"></span></span>
              <div><h3 class="m-0">Ми навчаємо учнів з будь якими знаннями та навичками,
               та з будь кого, хто хоче навчитися зможемо зробити експерта та фахівця зі сфери, яку він обере.</h3></div>
            </div>

          </div>
        </div>

      </div>
    </div>